@import "../base/variables";

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

#index-body {
  background-color: $color-background-1;
  background-image: url("/background_images/glitch_6_c.jpg");
}

#program-body {
  background-color: $color-background-2;
  background-image: url("/background_images/glitch_13.jpg");
}

#merch-body {
  background-color: $color-background-3;
}

#practical-info-body {
  background-color: $color-background-4;
}

#artists-body {
  background-color: $color-background-5;
  background-image: url("/background_images/glitch_1.jpg");
}

#tickets-body {
  background-color: $color-background-6;
}

#map-body {
  background-color: $color-background-7;
}
