footer {
  width: 100%;
  height: 380px;
  position: absolute;
  bottom: 0;

  background-image: url("/assets/footer_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-size: 110%;

  .flex {
    display: flex;
  }

  .footer-flex {
    width: 100vw;
    padding: 0 45px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    top: 250px;
  }

  .images img {
    height: 50px;
    width: auto;
  }

  .footer-logo {
    // position: relative;
    // bottom: -220px;
    // left: 60px;
    img {
      width: 90px;
    }
  }
}
