@import "../base/variables";

.burger-menu-svg {
  width: 4rem;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  mix-blend-mode: difference;
  background-blend-mode: difference;
  transition: 0.3s ease-out;
  z-index: 3;
}

.burger-nav {
  position: fixed;
  z-index: 4;
  a {
    display: none;
    text-decoration: none;
    color: black;
    font-family: fenwick, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 1px;
  }
}

// styles that are only applied when burge menu is open
header .open {
  .burger-menu-text {
    opacity: 0;
    transition: 0.3s;
  }

  .burger-menu-svg {
    width: 180vw;
    top: -100vh;
    right: -40vw;
    transition: all 0.3s ease-in;
  }

  .burger-nav a {
    display: block;
  }
}

.burger-menu-text {
  font-family: fenwick, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  right: 2.3rem;
  top: 3.3rem;
  z-index: 4;
  font-size: 0.7rem;
  transition: 0.3s;
}

.burger-menu {
  cursor: pointer;
}

.header-logo {
  background-blend-mode: difference;
  position: fixed;
  top: 1rem;
  left: 1.5rem;
}
