#artists-body {
  #menu {
    fill: black;
  }

  h1 {
    padding: 90px 250px 20px;
  }

  .white-banner-top {
    background-image: url("/assets/white_banner_top.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 40px;
  }

  .white-banner-content {
    background-color: white;
    padding: 100px 0;
    width: 100vw;
    height: auto;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button {
    background-color: white;
    color: black;
    border: solid black 1px;
    margin: 0 10px;
    min-width: 120px;
  }

  button:active {
    background-color: black;
    color: white;
  }

  #all-artists {
    text-align: center;
    margin: 50px 0;
    li {
      font-family: fenwick, sans-serif;
      font-size: 3rem;
      font-weight: 400;
      font-style: normal;
    }

    .headliner {
      font-size: 4rem;
    }
  }
}
