#artists-body {
  #menu {
    fill: black;
  }

  .white-banner-top {
    background-image: url("/assets/white_banner_top.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 3vw;
    opacity: 0.9;
  }

  .white-banner-bottom {
    background-image: url("/assets/white_banner_bottom.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 5vw;
    opacity: 0.9;
  }

  .white-banner-content {
    background-color: white;
    padding: 100px 0;
    width: 100vw;
    height: auto;
    opacity: 0.9;
    // overflow-y: scroll;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button {
    background-color: white;
    color: black;
    border: solid black 1px;
    margin: 0 10px;
    min-width: 120px;
  }

  .selected {
    background-color: black;
    color: white;
  }

  button:active {
    background-color: black;
    color: white;
  }

  #all-artists {
    text-align: center;
    margin: 50px 0;
    padding: 0;
    // overflow-y: scroll;
    height: auto;
    li {
      font-family: fenwick, sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      font-style: normal;
      margin: 10px 0;

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    .headliner {
      font-size: 2.5rem;

      @media (min-width: 768px) {
        font-size: 4rem;
      }
    }
  }
}
