#artist-body {
  .artist-photo {
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center;
  }

  .white-banner-top {
    background-image: url("/assets/white_banner_top.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 3vw;
  }

  .white-banner-bottom {
    background-image: url("/assets/white_banner_bottom.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 5vw;
  }

  .white-banner-content {
    background-color: white;
    padding: 100px 0;
    width: 100vw;
    height: auto;
  }

  .section-wrapper {
    display: flex;
  }
}
