@import "../base/variables";

#program-body {
  h1 {
    color: white;
    margin-bottom: 60px;
  }

  .program-container {
    margin-bottom: 150px;
  }

  .program-module {
    width: 100vw;
    padding: 10vw 10vw;
    // margin-bottom: 50px;
    color: black;

    @media (min-width: 768px) {
      width: 100vw;
      padding: 70px 15vw 100px 15vw;
    }

    &:nth-child(even) {
      background-color: $light-pink;
    }

    &:nth-child(odd) {
      background-color: white;
    }

    .flex {
      display: flex;
      justify-content: space-between;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .day {
      width: 35vw;
      font-family: fenwick, sans-serif;

      font-weight: 300;
      font-style: normal;
      flex-basis: 100%;

      @media (min-width: 768px) {
        padding-right: 40px;
      }

      h3 {
        font-size: 1.4rem;
        margin-bottom: 20px;
        font-weight: 300;
        margin-top: 20px;
      }

      li {
        font-size: 0.8rem;

        margin-bottom: 5px;
      }

      .artists li {
        border-bottom: 1px solid black;
        padding-bottom: 1px;
      }

      .time li {
        border-bottom: 1px solid transparent;
        padding-bottom: 1px;
      }
    }

    .scene-container {
      flex-wrap: wrap;

      @media (min-width: 900px) {
        flex-wrap: nowrap;
      }
    }

    .time {
      text-align: right;
    }

    .scene-title {
      font-family: fenwick, sans-serif;
      font-size: 2rem;

      font-weight: 400;
      font-style: normal;
      margin-bottom: 20px;
    }
  }
}
